<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Inicio</servlet-name>
        <servlet-class>servlets.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>iniciar-Sesion</servlet-name>
        <servlet-class>servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>servlets.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerPerfil</servlet-name>
        <servlet-class>servlets.VerPerfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registrarme</servlet-name>
        <servlet-class>servlets.Registrarme</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargarDatos</servlet-name>
        <servlet-class>servlets.CargarDatos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerAlbum</servlet-name>
        <servlet-class>servlets.VerAlbum</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MiPerfil</servlet-name>
        <servlet-class>servlets.MiPerfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerListaParticular</servlet-name>
        <servlet-class>servlets.VerListaParticular</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeguirUsuario</servlet-name>
        <servlet-class>servlets.SeguirUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PublicarLista</servlet-name>
        <servlet-class>servlets.PublicarLista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Artistas</servlet-name>
        <servlet-class>servlets.Artistas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerGenero</servlet-name>
        <servlet-class>servlets.VerGenero</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidarNick</servlet-name>
        <servlet-class>servlets.ValidarNick</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidarCorreo</servlet-name>
        <servlet-class>servlets.ValidarCorreo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Clientes</servlet-name>
        <servlet-class>servlets.Clientes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Favoritear</servlet-name>
        <servlet-class>servlets.Favoritear</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Buscar</servlet-name>
        <servlet-class>servlets.Buscar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrdenarBuscar</servlet-name>
        <servlet-class>servlets.OrdenarBuscar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearListaParticular</servlet-name>
        <servlet-class>servlets.CrearListaParticular</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DesFavoritear</servlet-name>
        <servlet-class>servlets.DesFavoritear</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Suscripcion</servlet-name>
        <servlet-class>servlets.Suscripcion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelarSuscripcion</servlet-name>
        <servlet-class>servlets.CancelarSuscripcion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RenovarSuscripcion</servlet-name>
        <servlet-class>servlets.RenovarSuscripcion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AprobarSuscripcion</servlet-name>
        <servlet-class>servlets.AprobarSuscripcion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OpcionesTema</servlet-name>
        <servlet-class>servlets.OpcionesTema</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerListaDefecto</servlet-name>
        <servlet-class>servlets.VerListaDefecto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerImagen</servlet-name>
        <servlet-class>servlets.VerImagen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Bienvenida</servlet-name>
        <servlet-class>servlets.Bienvenida</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaAlbumPaso1</servlet-name>
        <servlet-class>servlets.AltaAlbum_paso1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaAlbumPaso2</servlet-name>
        <servlet-class>servlets.AltaAlbum_paso2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Escuchar</servlet-name>
        <servlet-class>servlets.Escuchar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidarNombreTema</servlet-name>
        <servlet-class>servlets.ValidarTemaNombre</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BorrarTema</servlet-name>
        <servlet-class>servlets.BorrarTema</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaAlbum_paso3</servlet-name>
        <servlet-class>servlets.AltaAlbum_paso3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ranking</servlet-name>
        <servlet-class>servlets.Ranking</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Inicio</servlet-name>
        <url-pattern>/inicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>iniciar-Sesion</servlet-name>
        <url-pattern>/iniciar-sesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/cerrar-sesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registrarme</servlet-name>
        <url-pattern>/Registrarme</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerPerfil</servlet-name>
        <url-pattern>/VerPerfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargarDatos</servlet-name>
        <url-pattern>/CargarDatos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerAlbum</servlet-name>
        <url-pattern>/VerAlbum</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeguirUsuario</servlet-name>
        <url-pattern>/SeguirUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MiPerfil</servlet-name>
        <url-pattern>/MiPerfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerListaParticular</servlet-name>
        <url-pattern>/VerListaParticular</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PublicarLista</servlet-name>
        <url-pattern>/publicarlista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Artistas</servlet-name>
        <url-pattern>/Artistas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerGenero</servlet-name>
        <url-pattern>/VerGenero</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidarNick</servlet-name>
        <url-pattern>/ValidarNick</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidarCorreo</servlet-name>
        <url-pattern>/ValidarCorreo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Clientes</servlet-name>
        <url-pattern>/Clientes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Favoritear</servlet-name>
        <url-pattern>/Favoritear</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Buscar</servlet-name>
        <url-pattern>/Buscar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearListaParticular</servlet-name>
        <url-pattern>/crearlistaparticular</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DesFavoritear</servlet-name>
        <url-pattern>/DesFavoritear</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Suscripcion</servlet-name>
        <url-pattern>/Suscripcion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelarSuscripcion</servlet-name>
        <url-pattern>/CancelarSuscripcion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RenovarSuscripcion</servlet-name>
        <url-pattern>/RenovarSuscripcion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AprobarSuscripcion</servlet-name>
        <url-pattern>/AprobarSuscripcion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OpcionesTema</servlet-name>
        <url-pattern>/OpcionesTema</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerListaDefecto</servlet-name>
        <url-pattern>/VerListaDefecto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerImagen</servlet-name>
        <url-pattern>/VerImagen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Bienvenida</servlet-name>
        <url-pattern>/Bienvenida</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrdenarBuscar</servlet-name>
        <url-pattern>/ordenar_busqueda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaAlbumPaso1</servlet-name>
        <url-pattern>/AltaAlbum/paso1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaAlbumPaso2</servlet-name>
        <url-pattern>/AltaAlbum/paso2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Escuchar</servlet-name>
        <url-pattern>/Escuchar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidarNombreTema</servlet-name>
        <url-pattern>/ValidarNombreTema</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BorrarTema</servlet-name>
        <url-pattern>/BorrarTema</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaAlbum_paso3</servlet-name>
        <url-pattern>/AltaAlbum/paso3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ranking</servlet-name>
        <url-pattern>/Ranking</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/errors/404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/WEB-INF/errors/500.jsp</location>
    </error-page>
</web-app>
